/.vscode
/.metadata/
MCU/.metadata/
*.o
*.d
*.htm
*.crf
*.lnp
*.lst
*.Bak
*.bin
*.cc
*.map
*.py
*.md
*.yml
*.s19
*.html
TriCore Debug (TASKING)/
MCU/app/TriCore Debug (TASKING)/
MCU/boot/TriCore Debug (TASKING)/
